*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
html,body{
    height: 100%;
    width: 100%;
    line-height: 1.6;
}
li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul{
    list-style-type: none;
}
img{
    height: auto;
    max-width: 100%;
}
/* NAV */

nav{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: gray;
}

.nav__list{
    display: flex;
    gap: 20px;
}
.nav__link {
    font-size: 1.2em;
    text-decoration: none;
}

/* Header */
header{
    background-color: gray;
    margin-bottom: 30px;
}
.header__img{
    font-size: 2em;
    color: black;
 }
/* MAIN */
.main__greeting{
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 60px;


}

.main__greetingText{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px;
    text-align: left;
    justify-content: end;
}
.greeting__Img{
    border-radius: 50px;
}
.greetingText__header{
    font-size: 2.5em;
}
.greetingText__paragraph{
    font-size: 1.2em;
}

.greetingText__button{
    margin-top:10px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: .9em;
    font-weight: 600;
}


/* team Members */
main h2{
    text-align: center;
    margin-bottom: 20px;
}

.meetTheTeam__container{
display: flex;
justify-content: center;
align-items: center;
padding: 10px 100px 50px 100px;
;
}
.teamMember{
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.teamMember__img{
    width: 100px;
    margin-bottom: 10px;
}
.teamMember p{
    text-align: center;
}

/* Main Quote */

.main__quote{
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.main__quote p{
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
    width: 800px;
    font-weight: 100;
    font-style: italic;

}
.main__quote span{
    margin-left: auto;
    font-weight: 700;
    font-style: normal;
}

/* Action Container */
.main__callToAction{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.callToAction__container{
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:10px;
    width: 1000px;
    height: 150px;
    padding: 60px;

}
.callToAction__container div{
    margin:30px;
}
.callToAction__button{
    padding: 5px 30px;
    background-color: transparent;
    border: none;
    outline: none;
    border: solid white;
    color: white;
    border-radius: 10px;
    font-size: 1.1em;


}

/* footer */
footer{
    padding: 40px 0;
    background-color: gray;
}
.footer__text{
    text-align: center;
    font-size: 1.2em;
    color: white;
}
/* Mobile Design */
@media (max-width:500px){
  *{
    padding: 0;
  }
    
    .header__img{
        font-size: 1.2em;

     }
    .nav__link{
        font-size: .9em;
    }
    .main__greeting{
        outline: solid blue;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .main__greetingText{
        text-align: center;
        align-items: center;
    }

}